.stake-evault-card-buttonusdt {
  margin: 20px;
  width: 100px;
  display: block;
  margin: 0 auto;
}

.second-logousdt {
  width: 20px;
  margin: 10px 10px 0 10px;
  z-index: 1;
}

.stake-evault-card-textusdt {
  font-size: 15px;
}

.approve-buttonusdt {
  width: 0px;
  height: 20px;
}