
.stake-evault-card-title {
  text-align: center;
  font-size: 20px;
}

.stake-evault-card-button {
  margin: 20px;
  width: 200px;
  display: block;
  margin: 0 auto;
}

.stake-evault-card-text {
  text-align: center;
  font-size: 15px;
}

.stake-evault-card-expanded {
  height: 100px;
}

