.box {
    width: 80%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-top: 4;
    margin: auto;
    
}

.button-box {
    background-color: #ffffffab;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.stake-card-logo {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.stake-card-info {
    display: flex;
    flex-direction: column;
}

.stake-card-title {
    margin: 0;
    font-weight: 600;
    
}

.stake-card-title2 {
    margin: 0;
    font-weight: 300;
    
}

.stake-card-subtitle {
    margin: 0;
    font-size: 12px;
    color: #a0a0a0;
}

.stake-card-body {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.stake-card-stats {
    display: flex;
}

.stat {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.stat2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.stat-value {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.stat-label {
    margin: 0;
    font-size: 12px;
    color: #a0a0a0;
}

.stake-card-actions button {
    width: 100%;
    background-color: #3f51b5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;
    
    }

    .stake-card-expanded {
        display: flex;
        margin-left: 15px;
        justify-content: space-between;
    }

.expanded-header {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.expanded-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
    
    
}


.expanded-actions a {
    text-decoration: none;
    color: #3f51b5;
    font-size: 14px;
    font-weight: 600;
    
    
}

.expanded-actions button {
    width: 100%;
    background-color: #3f51b5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;

    
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.logo-container {
    align-items: center;
    justify-content: center;
}